@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Slabo+27px&display=swap');

* {
  font-family: 'Slabo 27px', serif;
}

.App {
  text-align: center;
}

.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

.errrors {
  width        : 100%;
  font-size    : .6rem;
  color        : #d50cd1;
  z-index      : 10001;
  margin-left  : 100%;
  margin-bottom: -1%;
  margin-top   : -7%;

}

.signin {
  color: initial;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card-container-pref {
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  margin         : 0 auto;
  justify-content: space-evenly;
  padding-top    : 4%;
}


#keyword {
  margin   : 5%;
  padding  : 1%;
  font-size: 15px;
}


body {
  background-color: #000000;
}

.provider {
  border: 1px solid red;
}

.reset {
  margin-left  : 1%;
  margin       : 5% auto;
  color        : white;
  background   : black;
  border-radius: 3px;
  font-size    : 15px;
  width        : 100px;
  text-align   : center;
  padding      : 1%;
}

.reset:hover {
  background: #03630c;
}

#keyword-form {
  margin: 3%;
}

.kw-name {
  font-size: 20px;
}
